# Python
*.pyc
__pycache__/
*.pkl
.venv/
venv/
env/
*.env

# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
dist/
build/

# System
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Others
*.log
*.bak
*.zip
*.tar
*.tar.gz
